<p>cabecera works!</p>

<header _ngcontent-sc1="" class="bg-orange ng-star-inserted" style="z-index: 9;">
    <!---->
    <nav _ngcontent-sc1="" class="navbar navbar-expand-lg bg-orange max-1440 px-1 p-md-0 pr-md-3 ng-star-inserted">
        <a _ngcontent-sc1="" class="navbar-brand padding-logo mr-0" routerlink="/" href="/"><app-logo _ngcontent-sc1="" _nghost-sc4=""><!----><img _ngcontent-sc4="" alt="Mercado Bodegas" src="../../../assets/logo1.svg" class="ng-star-inserted"><!----></app-logo></a>
        <button _ngcontent-sc1="" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler custom-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span _ngcontent-sc1="" class="navbar-toggler-icon"></span>
        </button>
        <!---->
        <app-search _ngcontent-sc1="" _nghost-sc5="" class="ng-star-inserted">
            <a _ngcontent-sc5="" class="navbar-bran mr-o ">
                <div _ngcontent-sc5="" class="my-2 my-lg-0 row m-0 text-center p-md-3 px-2 py-2 bg-orange rounded">
                    <div _ngcontent-sc5="" class="p-0  m-md-auto  col-2">
                        <button _ngcontent-sc5="" class="btn bg-black white btn-block" ngbtooltip="Ver mini bodegas cerca tuyo" placement="bottom">
                            <i _ngcontent-sc5="" class="fas fa-map-marker-alt"></i>
                        </button>
                    </div>
                    <div _ngcontent-sc5="" class="m-md-auto pl-1 col-10 p-0">
                        <form _ngcontent-sc5="" class="input-group w-100 ng-untouched ng-pristine ng-valid" novalidate="" style="flex-wrap: initial">
                            <input _ngcontent-sc5="" autocorrect="off" class="form-control w-100 ng-untouched ng-pristine ng-valid" id="busqueda" name="busqueda" placeholder="buscar calle, comuna, región, etc." value="">
                            <div _ngcontent-sc5="" class="input-group-append">
                                <button _ngcontent-sc5="" class="btn input-group-text">
                                    <span _ngcontent-sc5="" class="fa fa-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </a>
        </app-search>
        <div _ngcontent-sc1="" class="collapse navbar-collapse black" id="navbarSupportedContent">
            <ul _ngcontent-sc1="" class="navbar-nav mr-auto"></ul>
            <div _ngcontent-sc1="" class="nav-item ">
                <a _ngcontent-sc1="" class="nav-link" href="/sobre-mercado-bodegas">
                    <b _ngcontent-sc1="">Sobre MercadoBodegas</b>
                    <div _ngcontent-sc1="" class="line"></div>
                </a>
            </div>
            <div _ngcontent-sc1="" class="nav-item ">
                <a _ngcontent-sc1="" class="nav-link" href="/ayuda">
                    <b _ngcontent-sc1="">Ayuda</b>
                    <div _ngcontent-sc1="" class="line"></div>
                </a>
            </div>
            <div _ngcontent-sc1="" class="nav-item ">
                <a _ngcontent-sc1="" class="nav-link" href="/tama%C3%B1os-mini-bodegas">
                    <b _ngcontent-sc1="">Guía de tamaños</b>
                    <div _ngcontent-sc1="" class="line"></div>
                </a>
            </div>
            <div _ngcontent-sc1="" class="nav-item  clickable text-right text-sm-left" id="telefonoContacto">
                <a _ngcontent-sc1="" aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown" id="contacto">
                    <b _ngcontent-sc1="">Contacto</b>
                    <div _ngcontent-sc1="" class="line"></div>
                </a>
                <div _ngcontent-sc1="" aria-labelledby="contacto" class="dropdown-menu dropdown-menu-right dropdown-custom">
                    <a _ngcontent-sc1="" class="dropdown-item dropdown-item-custom" href="mailto:contacto@mercadobodegas.com">
                        <i _ngcontent-sc1="" class="far fa-envelope"></i> contacto@mercadobodegas.com 
                    </a>
                    <a _ngcontent-sc1="" class="dropdown-item dropdown-item-custom" href="tel:+56994355168">
                        <i _ngcontent-sc1="" class="fas fa-phone-alt"></i> (+56) 994355168 
                    </a>
                    <!---->
                    <a _ngcontent-sc1="" class="dropdown-item dropdown-item-custom ng-star-inserted" target="_blank" href="https://api.whatsapp.com/send?phone=+56994355169&amp;text=Hola,%20te%20escribo%20desde%20Mercado%20Bodegas">
                        <i _ngcontent-sc1="" class="fab fa-whatsapp"></i> Hablemos por whatsapp 
                    </a>
                </div>
            </div>
            <!---->
            <!---->
            <mat-menu _ngcontent-sc1="" class="ng-tns-c7-2">
                <!---->
            </mat-menu>
        </div>
    </nav>
    <!---->
    <!---->
</header>
